# Environment and sensitive data
.env
private/
public/images/file-not-found.jpg

# OS / IDE
.DS_Store
*.log
.vscode/
.idea/

# Vendor and cache
vendor/
composer.lock

# Temporary
storage/
trash_misc/
